@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F3E5D8;
  color: #3E2723;
  margin: 0;
  padding: 0;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  cursor: pointer;
}